// Background
.bg {
    &-cover,
    &-cover-before:before,
    &-cover-after:after {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    &-contain,
    &-contain-before:before,
    &-contain-after:after {
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    &-c10 {
        background-color: $color10 !important;
    }
    &-c15 {
        background-color: $color15 !important;
    }
    &-c14 {
        background-color: $color14 !important;
    }

    &-c16 {
        background-color: $color16 !important;
    }
    &-c19 {
        background-color: $color19 !important;
    }
    &-c20 {
        background-color: $color20 !important;
    }
    &-c30 {
        background-color: $color30 !important;
    }
}
