// Colors
.f {
  // White
  &-c10 {
    color: $color10 !important;
  }

  &-c15 {
    color: $color15 !important;
  }

  &-c16 {
    color: $color16 !important;
  }

  &-c17 {
    color: $color17 !important;
  }

  // Black
  &-c19 {
    color: $color19 !important;
  }

  &-c20 {
    color: $color20 !important;
  }

  &-c30 {
    color: $color30 !important;
  }

}
