// Font
.f {

  // Font Family
  &-proxima {
    font-family: $proxima;
  }

  &-bebas {
    font-family: $bebas;
  }

  &-majesti {
    font-family: $majesti;
  }
  
  // Font Variations
  &-light {
    font-weight: 300;
  }

  &-normal {
    font-weight: normal;
  }

  &-medium {
    font-weight: 600;
  }

  &-bold {
    font-weight: 700;
  }

  &-black {
    font-weight: 900;
  }

  &-italic {
    font-style: italic;
  }
  
  &-upper {
    text-transform: uppercase;
  }

  //Spacing
  &-ls3 {
    letter-spacing: rem(3);
  }
  
  // Sizes
  &-s2 {
    font-size: rem(55);
  }

  &-s3 {
    font-size: rem(45);
  }

  &-s4 {
    font-size: rem(28);
  }

  &-s5 {
    font-size: rem(18);
  }

  &-s6 {
    font-size: rem(13);
  }

  @include media("<=desktop") {
    &-s2 {
      font-size: rem(40);
    }
    
    &-s3 {
      font-size: rem(25);
    }
  }


  // Font effects
}
