// Margin
.m {
    &-0 {
        margin: 0 !important;
    }
    &t {
        &-15 {
            margin-top: rem(15) !important;
        }
        &-30 {
            margin-top: rem(30) !important;
        }
        &-40 {
            margin-top: rem(40) !important;
        }
        &-60 {
            margin-top: rem(60) !important;
        }
        &-100 {
            margin-top: rem(100) !important;
        }
    }
    &b {
        &-15 {
            margin-bottom: rem(15) !important;
        }
        &-30 {
            margin-bottom: rem(30) !important;
        }
        &-40 {
            margin-bottom: rem(40) !important;
        }
        &-60 {
            margin-bottom: rem(60) !important;
        }
        &-80 {
            margin-bottom: rem(80) !important;
        }
    }
}

