.link {
	transition: all ease .4s;

	&.-h20 {
		position: relative;
		text-transform: uppercase;
		color: $color10;
		font-weight: bold;
		letter-spacing: rem(1px);
		font-size: rem(11px);

		&:hover {
			color: $color20;
		}
	}

	&.-has-icon {
		&:before,
		&:after {
			color: $color20;
			font-size: rem(20px);
			position: absolute;
		}
	}

	&.-left {
		padding-left: rem(30px);
		&:before,
		&:after {
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}
	}
	&.-right {
		padding-right: rem(35px);
		padding-right: rem(30px);
		&:before,
		&:after {
			right: 0;
			top: 50%;
			transform: translateY(-50%);
		}
	}

}