.list {
	&.-inline {
		.item {
			display: inline-block;
		}
	}

	&.-slide-counter {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 3;	
		left: rem(-50);
		
		.item {
			margin-bottom: rem(10);
		}

		.index {
			position: relative;
			transition: all ease .4s;
			display: block;
			padding: rem(10);
			color: $color19;
			letter-spacing: rem(1);
			font-weight: bold;

			&:before {
				content: '';
				position: absolute;
				right: 100%;
				width: rem(0);
				height: rem(3);
				background-color: $color20;
				top: 50%;
				margin-top: rem(-1.5);
				transition: all ease .3s;
			}

			&.active {
				&:before {
					width: rem(40);
				}
			}

			&:hover {
				color: $color20;
			}
		}
	}

	&.-lined {
		.item {
			&:last-child {
				a {
					border-bottom: none;
				}
			}
			a {
				padding: rem(10 0);
				display: block;
				border-bottom: 1px solid $color16;
				
				&:hover {
					color: $color20;
				}
				
				&.-active {
					font-weight: bold;
					color: $color20;
				}
				
			}
		}
	}

	&.-general {
		display: inline-block;
		margin: 0 auto;

		.item{
			margin-right: rem(10);
		}

		.link {
			position: relative;
			text-transform: uppercase;
			color: $color10;
			font-weight: bold;
			letter-spacing: rem(1);
			font-size: rem(9);
			padding: rem(5);

			&:hover {
				color: $color20;

				&:before {
					transform: scaleX(1);
				}
			}

			&.-active {
				color: $color20;

				&:before {
					transform: scaleX(1);
				}
			}

			&:before {
				content: '';
				transition: all ease .4s;
				height: rem(4);
				width: 100%;
				position: absolute;
				top: 0;
				left: 0;
				background-color: $color20;
				opacity: 1;
				transform: scaleX(0);
				border-bottom-right-radius: rem(6);
				border-bottom-left-radius: rem(6);
			}
		}

		@include media("<=desktop") {
			.link {
				&:before {
					display: none;
				}
			}
		}
	}

	&.-accessibility {
		margin-top: rem(0);

		.link {
			color: $color10;
			font-size: rem(19);
			border-top: rem(3) solid transparent;
			transition: all ease .4s;
			padding: rem(2 2);
			line-height: 44px;

			&.icon-inverse-colors-before {
				font-size: rem(17);
			}

			&:hover {
				border-top: rem(3) solid $color20;
			}
		}
	}

	&.-icon {
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: rem(1px);

		.item {
			position: relative;
			margin-right: rem(35px);
			padding-left: rem(40px);
			font-style: italic;
			font-size: rem(18px);
			margin-top: rem(15px);

			&:last-child {
				margin-right: 0;
			}
			&:before {
				position: absolute;
				left: 0;
				font-size: rem(30px);
				top: 50%;
    			transform: translateY(-50%);
			}
		}
	}

	&.-title-text {
		margin-bottom: rem(20px);
		.item {
			margin-right: rem(35px);
			.title {
				display: block;
				margin-bottom: rem(0);
				text-transform: uppercase;
				font-size: rem(14px);
			}
		}
	}

	&.-social {
		&.-t10 {
			.item {
				margin-bottom: rem(10);

				.link {
					transition: all ease .4s;
					position: relative;
					display: block;
					width: rem(38);
					height: rem(38);
					border-radius: rem(100);
					border: 1px solid $color10;
					color: $color10;
					font-size: rem(20);

					&:hover {
						color: $color30;
						border: rem(1) solid $color30;
					}
					
					&:before {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
					}
				}
			}
		}

		&.-t20 {
			.item {
				position: relative;

				&:before {
					content: '';
					width: rem(2px);
					height: rem(20px);
					position: absolute;
					right: 0;
					top: 17px;
					transform: translateY(-50%);
					background-color: $color19;
				}

				&:last-child {
					&:before {
						display: none;
					}
				}
			}

			.link {
				text-align: center;
				color: $color20;
				padding: rem(6px 15px 0px);
				display: block;
				font-size: rem(20px);

				&:hover {
					color: $color30;
				}
			}
		}

		&.-t30 {
			.item {
				position: relative;

				&:before {
					content: '';
					width: rem(2px);
					height: rem(20px);
					position: absolute;
					right: 0;
					top: 17px;
					transform: translateY(-50%);
					background-color: $color19;
				}

				&:last-child {
					&:before {
						display: none;
					}
				}
			}

			.link {
				text-align: center;
				color: $color30;
				padding: rem(6px 15px 0px);
				display: block;
				font-size: rem(20px);

				&:hover {
					color: $color20;
				}
			}
		}

		&.-rounded {
			.item {
				margin-bottom: rem(10);

				.link {
					transition: all ease .4s;
					position: relative;
					display: block;
					width: rem(38);
					height: rem(38);
					border-radius: rem(100);
					border: 1px solid $color30;
					color: $color30;
					font-size: rem(20);

					&:hover {
						color: $color10;
						border: rem(1) solid $color30;
						background-color: $color30;
					}
					&:before {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
					}
				}
			}
			
			&.-t10 {
				.item {
					.link {
						border: rem(1) solid $color10;
						color: $color20;
						background-color: $color10;
						
						font-size: rem(18);

						&:hover {
							color: $color30;
							border: rem(1) solid $color10;
							background-color: $color10;
							transform: scale(1.1);
						}
					}
				}
			}
		}
	}

	&.-icon-text {
		display: block;
		color: $color20;
		margin-bottom: rem(15);
		max-width: rem(270);
		padding-left: rem(40);
		font-size: rem(15);
		position: relative;

		.item {
			margin-bottom: rem(10);
			display: block;

			a {
				color: $color10;
			}
		}

		&:before {
			position: absolute;
			left: rem(0);
			font-size: rem(25);
			color: $color20;
		}
	}

	&.-icon-description {
		margin: rem(40 0);
		.item {
			padding-left: rem(90);
			position: relative;
			margin-bottom: rem(60);

			figure {
				width: rem(70);
				height: rem(70);
				position: absolute;
				top: rem(-15);
				left: 0;
			}
		}
	}

	&.-links {
		text-align: center;
		.item {
			margin: rem(15 20);

			.link {
				text-transform: uppercase;
				font-weight: bold;
				letter-spacing: rem(1);
				color: $color30;

				&:hover {
					color: $color20;
				}
			}
		}
	}


	&.-img-link {
		.item {
			display: inline-block;
			margin-right: rem(10);
			a {
				// background-color: red;
				display: block;
				width: rem(120);
				height: rem(100);
			}
		}
	}
}