.text {
	line-height: 1.5;

	&.-v2 {
		opacity: .8;
		line-height: 1.5;
	}

	&.-v3 {
		opacity: .8;
		font-size: rem(18);
	}

	&.-line-left {
		padding: rem(5);
		padding-left: rem(20);
		border-left: rem(2) solid $color20;
	}
}