.title {
	
	&.-line {

		&-v1 {
			display: block;
			position: relative;
			border-bottom: rem(1) solid rgba($color19, .1);
			padding-bottom: rem(30);
			margin-bottom: rem(30) !important;
			z-index: 1;
			font-weight: 300;

			&:before {
				content: '';
				width: rem(90);
				background-color: $color20;
				height: rem(3);
				position: absolute;
				left: 0;
				bottom: 0;
				z-index: 2;
			}
		}

		&-left {
			font-weight: bold;
			padding: rem(10);
			padding-left: rem(15);
			border-left: rem(5) solid $color20;
			color: $color30;
		}
	}

	&.-line1 {
		padding-top: rem(40px);
		position: relative;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: rem(80px);
			height: rem(5px);
			background-color: $color20;
		}

		&.-left {
			text-align: right;

			&:before {
				left: inherit;
				right: 0;
			}
			
		}
	}

	&.-line2 {
		padding-top: rem(40px);

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			margin-left: rem(-40px);
			width: rem(80px);
			height: rem(5px);
			background-color: $color20;
		}
	}

	&.-negative {
		color: $color19;

		&:before {
			background-color: $color10;
		}
	}


}