.boxing {
	&.-v1 {
		padding: rem(50 60);
		padding-right: rem(120);
	}
	&.-v2 {
		padding: rem(30 40);
		padding-right: rem(120);
		background-color: $color16;
		color: $color20;
		font-size: rem(23);
	}
	&.-v3 {
		padding: rem(50 60);
	}

	@include media("<=desktop") {
		&.-v1,
		&.-v3 {
			padding: rem(30);
		}
	}
}