/**
 * Buttons
 */
.button {
	transition: all ease .4s;
	padding: rem(12 30);
	min-width: rem(200);
	border-radius: 0;
	display: inline-block;
	text-align: center;
	border: none;

	&.-basic {
		text-transform: uppercase;
		min-width: auto;
		font-size: rem(16);
		padding: 0;
		font-weight: bold;

		&.-t30 {
			color: $color30;

			&:before,
			&:after {
				color: $color30;
			}
		}

		&.-t20 {
			color: $color20;

			&:before,
			&:after {
				color: $color30;
			}
		}

		&.-t10 {
			color: $color10;

			&:before,
			&:after {
				color: $color30;
			}
		}
	}


	&.-only-icon {
		font-size: rem(15);
		color: $color30;
		min-width: auto;
		padding: 0;
	}

	&.-circle {
		position: relative;
		border: 3px solid $color30;
		border-radius: rem(40);
		width: rem(30);
		height: rem(30);

		&:hover {
			background-color: $color30;
			color: $color10; 
		}

		&:before {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	&.-solid {
		letter-spacing: rem(1);
		min-width: rem(150);
		padding: rem(10 20);
		margin-top: rem(15);

		&.-t30 {
			color: $color10;
			background-color: $color30;

			&:before,
			&:after {
				background-color: darken($color30, 10%);
			}

			&:hover {
				background-color: darken($color30, 10%);
			}
		}

	}

	&.-rounded {
		padding: rem(13 18);
		border-radius: rem(40);
		color: $color20;

		&.-t20 {
			background-color: $color20;
			color: $color30;

			&:hover {
				background-color: darken($color20, 10%);
				color: darken($color30, 30%);
			}
		}

		&.-t30 {
			background-color: $color30;
			color: $color19;

			&:hover {
				background-color: darken($color30, 10%);
			}
		}
	}

	&.-inline {

		&.-t20 {
			background-color: transparent;
			border: rem(1) solid $color20;
			color: $color30;

			&:hover {
				background-color: $color20;
				color: $color19;
			}
		}

		&.-t30 {
			background-color: transparent;
			border: rem(1) solid $color30;
			color: $color30;

			&:hover {
				background-color: $color30;
				color: $color10;
			}
		}
	}

	// ------

	&.-big {
		padding: rem(30 40);
		font-size: rem(20px);
	}

	&.-small {
		padding: rem(10 15);
		font-size: rem(13);
		letter-spacing: rem(1);
		text-transform: uppercase;

		&:after,
		&:before {
			font-size: rem(17) !important;
		}
	}

	&.-w-auto {
		min-width: auto;
	}

	&.-has-icon-right {
		position: relative;
		padding-right: rem(30) !important;

		&.-inline {
			padding-right: rem(50) !important;
			&:after,
			&:before {
				position: absolute;
				right: rem(15);
				font-size: rem(19);
				top: 48%;
				transform: translateY(-50%);
			}
		}

		&:after,
		&:before {
			position: absolute;
			right: rem(5);
			font-size: rem(19);
			top: 48%;
			transform: translateY(-50%);
		}
	}

	&.-has-icon-left {
		position: relative;
		padding-left: rem(30) !important;

		&.-inline {
			padding-left: rem(50) !important;
			&:after,
			&:before {
				position: absolute;
				left: rem(15);
				font-size: rem(19);
				top: 48%;
				transform: translateY(-50%);
			}
		}

		&:after,
		&:before {
			position: absolute;
			left: rem(5);
			font-size: rem(19);
			top: 48%;
			transform: translateY(-50%);
		}
	}

	&.-full {
		width: 100%;
		display: block;
	}

	&.-rounded {
		background-color: $color30;
		padding: rem(13 18);
		border-radius: rem(40);
		color: $color20;

		&.-t2 {
			border-radius: rem(5);
			text-transform: uppercase;
			border: none;
		}

		&:hover {
			background-color: darken($color30, 13%);
			color: $color20;
		}
	}
}