.card {
  background-color: transparent;

  &.-intro {
    height: calc(100vh - 0px);
    background-color: $color14;
    position: relative;
    min-height: rem(650);
    @include pos-flex-right;

    .c-figure {
      @include pos-100-wh;
      position: absolute;
      z-index: 2;

      &:before {
        content: '';
        opacity: .4;
        @include pos-100-wh;
        position: absolute;
        z-index: 2;
        background: linear-gradient(-90deg, rgba($color19, 0) 0%, rgba($color19, 0.28) 26%, rgba($color19, 0.77) 100%);
      }
    }

    .c-caption {
      z-index: 3;
      position: relative;

      .title {
        font-size: rem(100);
        margin-bottom: rem(20);
      }

      .text {
        margin-bottom: rem(25);
        max-width: rem(400);
      }
    }

    @include media("<=desktop") {
      height: calc(100vh - 70px);
      min-height: rem(500);
      padding-bottom: rem(100);

      .c-caption {
        padding: 0;
        margin-top: 0;
        text-align: center;

        .title {
          font-size: rem(60);
        }

        .text {
          margin: 0 auto rem(25);
        }
      }
    }
  }

  &.-news {
    position: relative;
    margin-bottom: rem(30);
    overflow: hidden;

    .c-link {
      position: absolute;
      z-index: 5;
      @include pos-100-wh;
    }

    &:hover {
      .c-caption {

        .title {
          color: $color20;
        }
      }
    }

    .c-figure {
      position: relative;
      height: rem(230);
      overflow: hidden;

      .image {
        @include pos-100-wh;
        position: absolute;
      }
    }

    .c-caption {
      margin-top: rem(15);
      height: rem(110);

      .date {
        display: block;
        font-size: rem(14);
        color: $color20;
        margin-bottom: rem(8);
      }

      .tag {
        font-weight: bold;
        color: $color30;
        text-transform: uppercase;
        letter-spacing: rem(2);
        font-size: rem(12);
      }

      .title {
        transition: all ease .3s;
        color: $color20;
        font-size: rem(17);
        font-weight: bold;
      }
    }

    &.-v2 {
      .c-caption {
        transition: all ease .3s;
        margin-top: 0;
        text-align: center;
        padding: rem(30);
        padding-top: rem(20);
        background-color: transparent;
        min-height: rem(180);

        .date {
          color: rgba($color30, .4);
          margin-bottom: rem(0);
        }

        .tag {
          color: rgba($color30, .4);
        }

        .title {
          transition: all ease .3s;
          color: $color30;
          font-size: rem(17);
          font-weight: bold;
          margin-top: rem(10);
          line-height: 1.5;
        }
      }

      &:hover {
        .c-caption {
          background-color: $color10;
          box-shadow: 0px 6px 25px 1px rgba($color19, 0.6);

          .title {
            color: $color20;
          }
        }
      }

    }

    @include media("<=desktop") {
      .c-caption {
        height: auto;
      }
    }
  }

  &.-post {
    position: relative;
    border-bottom: rem(2) solid rgba($color16, .7);
    margin-bottom: rem(20);

    .c-link {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 3;
    }

    &:hover {
      .c-caption {

        .title,
        .text {
          color: $color20 !important;
        }
      }

      .c-figure {
        opacity: .7;
      }
    }

    .c-figure {
      height: rem(320);
      transition: all ease .3s;
    }

    .c-caption {
      padding: rem(40);

      .title {
        margin-bottom: rem(20);
        font-size: rem(32);
        transition: all ease .3s;
      }

      .text {
        transition: all ease .3s;
        font-size: rem(14);
      }
    }

    @include media("<=desktop") {
      .c-caption {
        padding: rem(30);

        .title {
          font-size: rem(25);
        }
      }

      .c-figure {
        height: rem(270);
      }
    }
  }

  &.-default {
    position: relative;
    margin-bottom: rem(30);

    .c-link {
      @include pos-100-wh;
      position: absolute;
      z-index: 3;
    }

    &:hover {
      .c-caption {

        .title {
          color: $color30;
        }
      }
    }

    .c-figure {
      @include pos-flex-center;
      height: rem(230);
      background-color: $color16;
      padding: rem(30);
      text-align: center;

      .title {
        font-size: rem(17);
        font-weight: bold;
        color: rgba($color17, .4);
      }
    }

    .c-caption {
      height: rem(210);
      background-color: $color10;
      padding: rem(30);

      .text {
        font-size: rem(15);
        color: $color16;
        line-height: 1.4;
      }

      .title {
        transition: all ease .3s;
        color: $color20;
        font-size: rem(17);
        font-weight: bold;
      }
    }
  }

  &.-item-legended {
    .c-figure {
      height: rem(200);
      margin-bottom: 0;
    }

    .c-caption {
      width: 100%;
      background-color: $color30;
      color: $color10;
      padding: rem(10 15);
      text-align: left;
      margin-top: 0;
    }
  }

  &.-photo-gallery {
    .c-figure {
      height: rem(600);
    }

    .c-caption {
      position: absolute;
      left: 0;
      bottom: 0;
      padding: rem(20);
      background-color: $color20;
      color: $color10;
      width: 100%;
      text-align: left;

      .title {
        font-size: rem(15);
      }
    }
  }

  &.-project {
    position: relative;
    overflow: hidden;
    margin: rem(8);
    margin-bottom: rem(16);

    &.-big {
      .c-figure {
        height: rem(656);
      }

      @include media("<=desktop") {
        .c-figure {
          height: rem(320);
        }
      }

    }

    .c-figure {
      height: rem(320);
    }

    .c-link {
      position: absolute;
      z-index: 5;
      @include pos-100-wh;
    }

    .c-caption {
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color30, .8);
      @include pos-flex-center;
      opacity: 0;
      transition: all ease .4s;

      @include media("<=desktop") {
        opacity: 1;

        .title,
        .legend {
          transform: translateY(0px) !important;
        }
      }

      .title {
        font-size: rem(30);
        transform: translateY(-20px);
        transition: all ease .3s;
      }

      .legend {
        position: relative;
        font-size: rem(15);
        color: $color10;
        font-style: italic;
        font-family: $majesti;
        transform: translateY(20px);
        transition: all ease .3s;

        &:before {
          font-size: rem(24);
          color: $color20;
          position: absolute;
          bottom: rem(-30);
          left: 50%;
          transform: translateX(-50%);
        }

      }
    }

    &:hover {
      .c-caption {
        opacity: 1;

        .title,
        .legend {
          transform: translateY(0px);
        }
      }
    }

  }

  &.-icon {
    text-align: center;

    .c-caption {
      .title {
        font-size: rem(34);
      }
    }

    .c-icon {
      width: rem(140);
      height: rem(90);
      margin: 0 auto rem(30);
      border-radius: rem(200);
      position: relative;

      .icon {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  &.-feature {
    background-color: $color14;
    padding-top: 150px;
    padding-bottom: 150px;

    .c-caption {
      padding-top: rem(50);
      padding-bottom: rem(50);

      .uptitle {
        margin-bottom: rem(20);
      }

      .title {
        margin-bottom: rem(35);
      }

      .button {
        margin-top: rem(20);
      }
    }

    .c-figure {
      height: rem(420);
      position: relative;
      margin-left: rem(-250);

      img {
        transform: translateY(-50%);
        top: 50%;
        left: 0;
        position: absolute;
        width: 100%;
        background-color: $color14;
      }
    }

    .button {
      margin-left: auto;
      padding-left: rem(10);
    }

    @include media("<=desktop") {
      text-align: center !important;
      margin-bottom: rem(40);
      padding-top: 0;
      padding-bottom: rem(40);

      &.-text-left {
        .heading {
          text-align: center;
        }
      }

      .c-caption {
        padding-top: 0;
        margin-top: rem(20);

        .uptitle {
          margin-bottom: 0;
        }

        .title {
          margin-bottom: rem(15);
        }
      }

      .c-figure {
        margin: 0 auto;
        height: 350px;
        position: relative;

        img {
          width: auto;
          position: absolute;
          top: 0;
          left: 50%;
          height: 100%;
          transform: inherit;
          transform: translateX(-50%);
        }
      }
    }
  }

  &.-cta {
    padding: rem(100px 60px);
    box-shadow: rem(0px 13px 72.21px 14.79px) rgba($color19, 0.05);
    position: relative;
    background-color: $color10;

    .c-link {
      transition: all ease .3s;
      color: $color20;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      font-size: rem(50px);
      top: rem(30px);

      &:hover {
        top: rem(40px);
        // color: $color25;
      }
    }

    .c-caption {
      position: relative;
      z-index: 3;

      .text {
        max-width: rem(580px);
      }

      .title {
        margin-bottom: rem(40px);
      }

      .button {
        margin-top: rem(60px);
      }
    }

    .c-figure {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 40%;

      &:before {
        content: '';
        position: absolute;
        z-index: 2;
        width: 200px;
        height: 100%;
        left: 0;
        top: 0;
        background: rgb(255, 255, 255);
        background: linear-gradient(90deg, rgba(255, 255, 255, 1) 6%, rgba(255, 255, 255, 0) 100%);
      }

      .image {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    @include media("<=desktop") {

      .c-caption {
        .title {
          margin-bottom: rem(20px);
          // text-shadow: 0px 3px 12px rgba(150, 150, 150, 0.7);
        }

        .text {
          font-size: rem(13px);
          margin-bottom: rem(20px);
          // text-shadow: 0px 3px 12px rgba(150, 150, 150, 0.7);
        }

        .button {
          margin-top: rem(10px);
        }
      }
    }
  }

  &.-featured {
    @include pos-flex-center;
    padding: 6vw;

    &.-t2 {
      background-color: blue !important;
    }

    &.-t3 {
      background-color: orange !important;
    }

    .c-caption {
      position: relative;
      width: 100%;
      z-index: 2;
    }

    .c-figure {
      position: absolute;
      bottom: 0;
      width: 44vw;
      max-width: rem(800px);
      height: 100%;

      img {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
      }
    }

    @include media("<=desktop") {
      margin: rem(0 28px);

      .c-caption {

        .title,
        .text {
          text-shadow: 0px 3px 12px rgba($color19, 0.7);
        }
      }

      .c-figure {
        height: 100%;
        max-width: inherit;
        width: 100%;
        left: 0;

        img {
          max-width: initial;
          width: 140%;
          left: 50%;
          margin-left: -70%;
          bottom: inherit;
          top: 0;
        }
      }
    }
  }

  &.-people {
    margin-top: rem(20);

    &.-photo-left {

      .c-caption {
        text-align: left;
        padding: rem(20);
        padding-right: 0;
      }
    }

    &.-no-image {
      .c-figure {
        display: none;
      }
    }

    &.-line {
      position: relative;
      padding-bottom: rem(20);
      margin-bottom: rem(50);

      &:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: rem(90);
        height: rem(1);
        background-color: $color16;
      }

      @include media("<=desktop") {
        margin-bottom: rem(15);
      }

    }

    .c-figure {
      height: rem(250);
      background-color: $color16;
      margin-bottom: rem(20);
      width: 100%;
    }

    .c-caption {
      text-align: right;

      .name {
        text-transform: initial;
        font-size: rem(15);
      }
    }

    .formation {
      font-size: rem(14);
      opacity: .5;
      margin-bottom: rem(25);
    }

    .infos {
      margin-top: rem(15);
      font-size: rem(15);

      a {
        color: $color16;
      }
    }

    @include media("<=desktop") {
      .c-figure {
        margin-bottom: rem(0);
      }

      .c-caption {
        background-color: $color10;
        padding: rem(25) !important;
      }
    }
  }

  &.-image-gallery {
    height: rem(280px);
    background-color: gray;
  }

  &.-icon-left {
    position: relative;
    padding-left: rem(60);
    @include pos-flex-left;
    min-height: rem(80);
    transition: all ease .2s;

    &.-hover {
      &:hover {
        transform: scale(1.1);
      }
    }

    .c-link {
      position: absolute;
      z-index: 5;
      @include pos-100-wh;
    }

    .c-icon {
      position: absolute;
      left: 0;
      top: 50%;
      height: 40px;
      width: 50px;
      transform: translateY(-50%);
    }
  }

  &.-photo {
    position: relative;
    margin-bottom: rem(60);

    .c-figure {
      height: rem(550);
    }

    .c-caption {
      position: absolute;
      background-color: $color20;
      color: $color30;
      padding: rem(20);
      position: absolute;
      bottom: rem(-30);
      left: rem(50);

      .title {
        margin: 0;
      }
    }

    @include media("<=desktop") {
      .c-figure {
        height: rem(300);
      }
    }
  }

  &.-partner {
    position: relative;
    margin-bottom: rem(20);

    &:hover {
      .c-figure {
        transform: scale(1.1);
      }
    }

    .c-link {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
    }

    .c-figure {
      height: rem(200);
      transition: all ease .3s;
    }

    @include media("<=desktop") {
      .c-figure {
        height: rem(120);
      }
    }
  }

}
