.collapsable {
	.heading {
		position: relative;
		margin-bottom: rem(10);
		background-image: none;
		background-color: transparent;
		padding: rem(25);
		font-size: rem(16);
		text-transform: uppercase;
		border-color:$color14;
		font-weight: bold;
		color: $color17;

		span {
			position: absolute;
			right: rem(30);
			transform: translateY(-50%);
			top: 50%;
			color: $color20;

			&:after {
				content: '';
				width: rem(40);
				height: rem(40);
				border-radius: rem(50);
				border: 2px solid $color20;
				@include pos-abs-center();
			}
		}
	}

	.content {
		padding: rem(30);
		padding-top: rem(0);
		padding-bottom: rem(0); 

		.card.-people {
			opacity: .5;
		}
	}

	&.collapse-container > :nth-child(even) {
	    border: 1px solid #f4f4f4;
	    border-top: none;
	    margin-top: -12px;
	    background-color: white;
	    z-index: 2;
	    position: relative;
	}
}