.display {
	position: relative;
	aside {
		text-align: left;
		background-color: $color14;
		padding: rem(20 40);
		padding-bottom: rem(80);
		position: absolute;
		left: 0;
		height: 100%;
		overflow-y: auto;
	}

	.slide {
		.slide-pagination {
			position: absolute;
			top: 50%;
		    width: 100%;
		}
	}
}