/**
 * Footer
 */
.footer {
	display: block;
	position: relative;
	padding-top: rem(110);
	color: $color17;
	background-color: $color14;

	.image {
		margin-top: rem(-80);
		margin-bottom: rem(20);
		height: rem(200);
		width: rem(350);
	}

	.link-item {
		display: block;
		color: $color10;
		margin-bottom: rem(15);
		max-width: rem(270);
		padding-left: rem(30);
		font-size: rem(15);

		&:before {
			position: absolute;
			left: rem(0);
			font-size: rem(25);
		}
	}

	.-social {
		margin-bottom: rem(20);
		display: inline-block;
		margin-right: rem(10);
		.link {
			color: $color10;
			font-size: rem(20);
			margin-right: rem(10);

			&:hover {
				color: $color20;
			}
		}
	}

	.brand {
		width: rem(120);
		margin-bottom: rem(15);
	}

	.column {
		text-align: left;
	}

	.-sac {
		vertical-align: top;
		a {
			vertical-align: top;
		}
	}

	.block {
		text-align: left;

		&.-border {
			border-right: 1px solid $color30;
		}

		&.-center {
			text-align: center;
		}

		.title {
			margin-bottom: rem(15);
			font-weight: bold;
			letter-spacing: rem(2);
		}
	}

	.copy {
		margin-top: 95px;
		text-align: left;
		position: relative;
		padding: rem(20 0);
		border-top: 1px solid $color30;
		text-align: right;
		padding-top: rem(28);

		small {
			vertical-align: top;
			display: inline-block;
			position: relative;
			z-index: 1;
			color: $color20;
			margin-right: rem(15);
		}
	}
	
	.-only-icon.-circle {
		display: inline-block;
		margin-top: rem(-8); 
	}

	@include media("<=desktop") {
		padding-top: rem(40);
		padding-bottom: rem(20);

		.phone {
			margin-top: rem(40);
		}

		.text-left {
			text-align: center !important;
		}

		.-social {
			margin-bottom: 0;
		}

		.-sac {
			display: block;
			text-align: center;
			margin: rem(15 0);
		}

		.-only-icon.-circle {
			margin-top: rem(15); 
		}

		.column {
			text-align: center;
		}
		.block {
			text-align: center;
			// display: none;
			border: none !important;
			text-align: center !important;
			margin-bottom: rem(20);
		}

		.-img-link {
			.item {
				display: inline-block;
				margin-right: rem(10);
				a {
					display: block;
					width: rem(80);
					height: rem(80);
				}
			}
		}

		.copy {
			text-align: center;
			margin-top: 0;
			border-top: none;
		}
		.-only-icon.-circle {
			display: block;
			margin: rem(10) auto;
		}
	}
}