@import "../tools/_custom_placeholder.scss";

.form {

	.label {
		text-transform: uppercase;
		letter-spacing: rem(2);
		font-weight: 600;
		font-size: rem(14);
	}

	.field {
		margin-bottom: rem(25px);
	}

	.input,
	.textarea {
		background-color: transparent;
	    border: none;
	    box-shadow: none;
	    border-bottom: 1px solid $color20;
	    border-radius: 0;
	    padding: 0;

	    @include placeholder {
            color: rgba($color17, .5);
        }
	}

	.select select {
		background-color: transparent;
	    border: none;
	    box-shadow: none;
	    border-bottom: 1px solid $color20;
	    border-radius: 0;
	    padding: 0;
	    padding-right: rem(40px);
	}

	.help-block {
		color: $danger;
		font-size: rem(13);
		margin-top: rem(4);
	}

	&.-boxed {
		padding: rem(40);
		background-color: $color23;

		.label {
			font-size: rem(12);
		}
		
		.input,
		.textarea,
		.select{
			background-color: $color10;
		    border: none;
		    box-shadow: none;
		    border-radius: 0;
		    padding: rem(15);
		    resize: none;
		    height: rem(45);
		}

		.select {
			padding: 0;
			padding-left: rem(15);
			-webkit-appearance: none;
		    -moz-appearance: none;
		    appearance: none;
		   	// text-transform: uppercase;
		    // font-weight: bold;
		}

		.textarea {
			height: auto;
		}
	}

	&.-invert {
		.label {
			color: $color10;
		}
	} 

	&.-boxed-transparent {
		padding: rem(40);
		background-color: $color16;


		.label {
			font-size: rem(12);
		}
		
		.input,
		.textarea,
		.select{
		    border: none;
		    box-shadow: none;
		    border-radius: 0;
		    padding: rem(15);
		    resize: none;
		    height: rem(45);
		    color: $color10;

		    background-color: transparent;
		    border-bottom: rem(1) solid $color19;
		    padding: rem(15 0);

		    @include placeholder {
	            color:   rgba($color10, .5);
	        }
		}

		.select {
			padding: 0;
			padding-left: rem(15);
			-webkit-appearance: none;
		    -moz-appearance: none;
		    appearance: none;
		   	// text-transform: uppercase;
		    // font-weight: bold;

		    border: none;
		}

		.c-select {
			border-radius: rem(5);
		}

		.textarea {
			height: auto;
		}
	}

	&.-default {

		.label {
			font-size: rem(12);
		}
		
		.input,
		.textarea,
		.select{
			box-shadow: none;
		    border-radius: 0;
		    padding: rem(15);
		    resize: none;
		    height: rem(45);

		    background-color: transparent;
		    border: 1px solid $color30;
		    padding: rem(15);
		    color: $color10;

		    @include placeholder {
	            color:   rgba($color10, 1);
	        }
		}

		.select {
			padding: 0;
			padding-left: rem(15);
			-webkit-appearance: none;
		    -moz-appearance: none;
		    appearance: none;
		   	// text-transform: uppercase;
		    // font-weight: bold;

		    border: none;
		}

		.c-select {
			border-radius: rem(5);
		}

		.textarea {
			height: auto;
		}
	}

	.c-select {
		position: relative;
		background-color: $color10;
	    border: none;
	    box-shadow: none;
	    border-radius: 0;
	    resize: none;

	    select {
	    	position: relative;
	    	z-index: 1;
	    	background-color: transparent !important;
	    	color:  $color17 !important;
	    }

		&:before {
			content: 'y';
			position: absolute;
			font-family: $fontastic;
			transform: inherit;
			border: none;
			top: rem(9);
			right: rem(15);
			color: $color20;
			font-size: rem(20);
			z-index: 0;
		}
	}

	&.-newsletter {
		position: relative;
	    padding: rem(12);
	    padding-left: rem(20);
	    padding-right: rem(215);
	    border-radius: rem(50);
	    background-color: $color10;

	    .input,
		.textarea,
		.select{
			color: $color19;
		}
		
		.form-group {
			margin-bottom: 0;
		}

	    .button {
	    	position: absolute;
		    top: 50%;
		    right: rem(2);
		    min-width: auto;
		    padding: rem(16 35 14);
		    transform: translateY(-50%);
		    border-radius: rem(100);
	    }

	    .input {
	    	border: none;
	    }

	    &.-v1 {
	    	border-radius: rem(5);
	    	padding: rem(10);

	    	.button {
	    		border-radius: rem(5); 
	    		height: 100%;
	    		right: 0;
	    		border-top-left-radius: 0;
	    		border-bottom-left-radius: 0;
	    	}

	    	.input {
	    		padding-left: rem(10);
	    	}

	    	.help-block {
		    	position: absolute;
		    	top: calc(100% + 5px); 
		    }

		    @include media("<=desktop") {
				.help-block {
			    	top: calc(100% + 70px); 
			    }
			}
	    }

	    
	}
}