/**
 * Header
 */
.header {
	position: relative;
	z-index: 555;

	&.-transparent {
		.menu-principal {
			background: transparent;
			position: fixed;
			padding-top: rem(15);
			width: 100%;
		}
	}

	&.-sticky {
		.menu-principal {
			background-color: $color20 !important;
		    padding-top: 0rem;
		    position: fixed;
		    top: 0;
		}
	}

	.h-mobile {
		display: none;
	}

	.-portal {
		display: none;
	}

	.-social {
		display: none;
	}

	@include media("<=desktop") {
		height: rem(70);

		.h-mobile {
			padding: rem(0 15);
			display: block;
			position: fixed;
			width: 100%;
			left: 0;
			top: 0;
			z-index: 3;
			background-color: $color20;
			height: rem(70);
		}

		.toggle {
			display: block;
			float: right;
		}

		.brand {
			height: rem(30);
		    width: rem(120);
		    position: absolute;
		    left: rem(20);
		    line-height: rem(70);

			img {
				height: 100%;
			}
		}

		.-portal {
			display: block;
			color: $color20;
		    margin: rem(0 15 15);
		}

		.menu {
			background-color: $color20;
		    position: fixed;
		    z-index: 5;
		    width: 100%;
		    left: 0;
		    top: rem(69);
		    padding: rem(22);
		    height: calc(100vh - 70px);
		    transition: all ease .4s;
			transform: translateX(-100%);

			&.-open {
				transform: translateX(0%);
			}

			.-portal {
				border-radius: rem(4);
				text-align: center;
				text-transform: uppercase;
				letter-spacing: rem(1);
			}
		}
		
		&.-sticky {
			.menu-principal {
				position: relative !important;
				background-color: transparent !important;
				
			}
		}

		
	}
}