.heading {
	&.-v1 {
		span {
			color: $color20;
		}

		.title {
			display: block;
			font-size: rem(50);
			margin-bottom: rem(20);
			font-weight: bold;
		}

		@include media("<=desktop") {
			text-align: center;

			.title {
				font-size: rem(35);
			}
		}
	}
	&.-course {
		height: rem(400);
		@include pos-flex-center();
		position: relative;
		overflow: hidden;
		padding-bottom: rem(80);

		&:before {
			content: '';
			width: 100%;
			height: 100%;
			z-index: 2;
			position: absolute;
			@include pos-100-wh();
			background-image: linear-gradient(to bottom, rgba($color20, 0), rgba($color20, .6));
		}

		&:after {
			content: '';
			@include pos-abs-center();
			background-color: $color19;
			opacity: .2;
		    z-index: 2;
		    width: 100%;
		    height: 100%;
		}
		.container {
			position: relative;
			z-index: 3;
		}

		.category {
			font-size: rem(50);
		}

		.name {
			font-size: rem(21);
		}

		.button {
			margin-top: rem(18);
		}

		.initials {
			font-size: 20vw;
			top: 46%;
			left: 0;
			position: absolute;
			color: transparent;
			transform: translateY(-50%);

		    -webkit-text-stroke-width: rem(2);
		    -moz-text-stroke-color: rgba($color20, .5);
		    -webkit-text-stroke-color: rgba($color20, .5);

		    letter-spacing: -1vw;
		}

		@include media("<=desktop") {
			text-center: center;

			.category {
				font-size: rem(40);
				margin-bottom: rem(10);
			}

			.name {
				font-size: rem(18);
			}

			.button {
				display: block;
				margin-top: rem(20);
			}

			.initials {
				left: 50%;
			    transform: inherit;
			    top: 26%;
			    transform: translate(-50%, -50%);
			    font-size: 40vw;
			}
		}
	}

}