.menu {
	.menu-principal {
		position: relative;
		transition: all ease .2s;
		height: rem(80);
		padding: 0;
		margin-top: rem(0);
		background-color: $color20;
		z-index: 5;

		&.-open {
			background-color: $color10;
		}
		
		.container {
			position: relative;
			z-index: 3;
		}
		
		.brand {
			height: rem(55);
			width: rem(180);
			line-height: rem(80);
			display: inline-block;
			position: relative;

			img {
				width: 100%;
			}
		}

		

		.list.-principal {
			margin-top: rem(28);
			display: inline-block;
			float: right;

			.item {
				display: inline-block;
				margin-right: rem(20);

				&.-has-submenu {
					padding-left: rem(5);
					padding-bottom: rem(30);

					@include media("<=desktop") {
						padding-left: 0;
						padding-bottom: 0;
					}

					@include media("<=desktop") {
						&.open-submenu {

							.submenu {
								display: block;
							}
						}
						.submenu {
							display: none;
						}
					}
					
					&.open-submenu {
						> .link {
							color: $color10;
						}
						.submenu {
							opacity: 1;
							visibility: visible;
						}
					}
					.submenu {
						opacity: 0;
						visibility: hidden;
					}
				}

				&:last-child {
					margin-right: 0;
				}

				.submenu {
					position: absolute;
					top: rem(80);
					background-color: $color10;
					min-width: 200px;
					display: block;
					transition: all ease .1s;

					li.item {
						display: block;
						margin-right: 0;

						.link {
							padding: rem(15);
							display: block;

							&:hover {
								background-color: rgba($color14, .4);
								color: $color20;
							}
						}
					}
					@include media("<=desktop") {
						position: relative;
						top: 0;
						background-color: transparent;

						li.item {

							.link {
								padding: rem(0);
								color: $color10;
								opacity: .8;
								&:hover {
									background-color: transparent;
									color: $color30;
								}
							}
						}

					}
				}
			}
			.link {
				padding: rem(4 0);
				color: $color30;
				text-transform: uppercase;
				font-weight: bold;
				font-size: rem(12);
				position: relative;

				&.-active {
					color: $color10;
					border-bottom: 2px solid $color10;
				}

				&.-open {
					color: $color10 !important;
				}

				&:hover {
					color: $color10;
					background-color: transparent;
				}

				&:after {
					margin-left: rem(5);
					transform: translateY(2px);
					position: relative;
					display: inline-block;
					// color: rgba($color10, .5);
				}
			}
		}
	}

	@include media("<=desktop") {
		overflow-y: auto;

		.menu-principal {
			margin-top: 0;
			height: auto;
			padding: 0;
			width: auto !important;

			&.-open {
				background-color: transparent;
			}
			.brand {
				display: none;
			}
			.list.-principal {
				display: block;
				text-align: left;
				height: auto;
				float: none;
				margin-top: rem(0);

				.-rounded {
					display: none;
				}

				.item {
					display: block;
					line-height: 44px;

					a {
						font-size: rem(14);
					}
				}
			}

			.list.-social {
				margin-top: rem(20);
				display: block;
				.item {
					margin-right: rem(10);
				}
			}
		}
		
	}
}