// Pagination
.pagination {
    margin: 0 auto;
    display: inline-block;

    > li > a,
    > li > span {
        padding: 0;
        line-height: rem(40);
        text-align: center;
        width: rem(40);
        height: rem(40);
        color: $color30;
        margin: rem(0 5);
        border-radius: rem(40);
        border: 1px solid $color30;
        background-color: transparent;
        font-weight: 600;

        &:hover {
            color: $color10;
            background-color: $color30;
        }
    }
    .control {
        text-align: center;
        position: relative;
        &:before {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
    z-index: 3;
    color: $color10;
    background-color: $color30;
    cursor: default;
    border: none;
}
.pagination > li:first-child > a, .pagination > li:first-child > span {
    margin-left: 0;
    width: rem(80);
    border-radius: rem(40);
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
    margin-left: 0;
    width: rem(80);
    border-radius: rem(40);
}