.player {
	position: relative;

	.plyr__control--overlaid {
		background: $color20;
		padding: rem(28);
		border: rem(6) solid $color20;

		svg {
			width: rem(30);
			height: rem(30);
		}

		&:hover {
			background: $color20;
			border: rem(10) solid $color23;
		}
	}
	.plyr--stopped .plyr__controls {
        opacity: 0;
    }
}