.post {
    color: $color19 !important;
    margin-bottom: rem(30) !important;

    h1,h2,h3,h4,h5,h6 {
        margin-top: rem(15) !important;
        margin-bottom: rem(15) !important;
        font-weight: bold !important;
        display: block !important;
        color: $color20 !important;
    }

    h1 { font-size: rem(30) !important; }
    h2 { font-size: rem(28) !important; }
    h3 { font-size: rem(26) !important; }
    h4 { font-size: rem(24) !important; }
    h5 { font-size: rem(22) !important; }
    h6 { font-size: rem(20) !important; }

    span,
    p {
      color: $color16 !important;
      font-weight: 500;
      line-height: 2; 
    }

    blockquote {
        position: relative;
        font-size: rem(15);
        border: none;
        padding-left: 0;
        padding-right: rem(50);

        &:before {
            // content: 's';
            font-family: $fontastic;
            position: absolute;
            top: rem(10);
            left: rem(-50);
            font-size: rem(20);
            // color: $color40;
        }
    }
    @media screen and (max-width: $screen-xs-max) {
        blockquote {
            padding-left: rem(30);
            padding-right: rem(20);

            &:before {
                font-size: rem(16);
                left: 0;
            }
        }
    }
    figure {
    	margin-bottom: rem(15);
    	figcaption {
    		font-size: rem(12);
    		padding-bottom: rem(10);
    		border-bottom: rem(1) solid rgba($color16, .5);
    	}
    }

    img {
        max-width: 100% !important;
        width: 100% !important;
        margin: rem(20 0);
        // display: none;
    }

    ol,
    ul {
        margin-top: rem(10) !important;
        margin-bottom: rem(5) !important;
        li {
            margin-bottom: rem(5) !important;
        }
    }

}