/**
 * Sections
 */
.section {
  display: block;
  padding: rem(100 0);

  .s-heading {
    .title {
      margin-bottom: rem(10);
    }

    .text {
      margin-bottom: rem(20);
    }
  }

  @include media("<=desktop") {
    padding: rem(40 0);
  }

  &.-page {
    padding-top: rem(70);
    padding-bottom: rem(40);

    .s-heading {
      margin-bottom: rem(30);
    }

    &.-contact {
      padding-top: 0;
      padding-bottom: 0;
      overflow: hidden;

      .s-heading {
        position: relative;
        padding-top: 60px;
        padding-bottom: 10px;
        margin-bottom: 0;

        &:before {
          content: '';
          background: linear-gradient(to right, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 0.97) 27%, rgba(255, 255, 255, 0) 100%);
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
        }
      }

      .s-content {
        position: relative;
        min-height: rem(600);
        background-color: $color10;

        .container {
          position: relative;

          .woman {
            position: absolute;
            bottom: 0;
            left: 27%;
            width: rem(230);
            height: rem(300);
            background-image: url(./../images/woman.png);
            background-size: contain;
            background-repeat: no-repeat;
          }
        }

        .text {
          font-size: rem(18);
          max-width: rem(400);
          margin-bottom: rem(40);
          opacity: .8;
        }

        .form {
          position: relative;
          z-index: 3;
        }
      }

      .map {
        height: rem(600);
        background-color: $color17;
        position: relative;
        left: 0;
        margin-top: rem(-40);
      }

      .form {
        margin-top: rem(-130);
      }


      @include media("<=desktop") {
        .woman {
          display: none;
        }
      }

      @include media(">768px", "<=desktop") {
        .s-content {
          position: relative;
          min-height: rem(738);
        }

        .form {
          margin-top: rem(-130);
          margin-left: rem(-15);
          margin-right: rem(-15);
        }

        .map {
          height: rem(300);
          margin-top: rem(0);
        }
      }

      @include media("<=768px") {
        .form {
          margin-top: rem(50);
          margin-left: rem(-15);
          margin-right: rem(-15);
        }
      }
    }

    &.-course {
      padding-top: rem(0);
      padding-bottom: rem(0);

      .s-heading {
        margin-bottom: 0;
      }

      .s-content {
        position: relative;
        z-index: 4;
        background-color: $color14;
        padding: 0;

        .course-infos {
          .description {
            min-height: rem(500);
          }

          .boxing {
            &.-v1 {
              margin-top: rem(-70);
            }

            &.-v2 {
              margin-top: rem(-40);
              margin-left: rem(-100);
              padding-left: rem(112);
            }
          }

          .card.-people {
            padding: rem(30);

            .c-figure {
              padding-right: rem(15);
            }

            .c-caption {
              // padding: rem()
            }
          }
        }

        .course-advantages {
          padding: rem(60 0);
        }
      }

      .s-footer {
        padding: rem(50 0 120);
      }

      @include media("<=desktop") {
        .s-content {
          .course-infos {
            .description {
              min-height: auto;
            }

            .boxing {
              &.-v2 {
                margin-top: rem(0);
                margin-left: rem(0);
                padding: rem(20);
                text-align: center;
              }
            }

            .card.-people {
              padding: rem(30);
              padding-top: rem(15);

              .c-figure {
                padding-right: rem(15);
              }

              .c-caption {}
            }
          }

          .course-advantages {
            padding: rem(0 0 40);
          }
        }
      }
    }
  }

  &.-basic {
    .s-heading {
      margin-bottom: rem(60);
    }

    @include media("<=desktop") {
      padding-top: rem(40);
    }

    &.-blog {
      .s-heading {
        margin-bottom: 0;
      }
    }

    &.-partners {
      .s-content {
        padding: rem(0 60);
      }

      @include media("<=desktop") {
        .s-heading {
          margin-bottom: 25px;
        }

        .s-content {
          padding: rem(0 40);
        }
      }
    }
  }

  &.-default {
    background-color: $color14;
    padding-top: rem(70);
    padding-bottom: rem(40);

    .text {
      line-height: 2;
    }

    .s-heading {
      margin-bottom: rem(30);

      .title {
        margin-bottom: rem(20);
      }

      .subtitle {
        margin-bottom: rem(30);
        margin-top: rem(-20);
      }
    }
  }

  &.-blog-post {

    .share {
      display: block;
      margin-top: rem(50);

      .legend {
        display: block;
        margin-bottom: rem(10);
      }
    }

    .aside {
      text-align: center;
      padding-top: rem(5);

      .-social {
        display: inline-block;
      }

      .title {
        font-size: rem(8);
        text-transform: uppercase;
        margin-bottom: rem(10);
      }

      @include media("<=desktop") {
        text-align: left;

        .-social {
          .item {
            display: inline-block;
          }
        }
      }
    }

    .s-heading {
      .date {
        font-size: rem(14);
        margin-bottom: rem(10);
        display: block;
      }

      .title {
        padding-bottom: rem(25);
        border-bottom: 1px solid $color16;
        margin-bottom: rem(25);
      }

      .legend {
        color: $color16;
        line-height: 2;
      }
    }
  }

  &.-relateds {
    .s-heading {
      margin-bottom: rem(50);

      .button {
        float: right;
      }
    }
  }

  &.-welcome {
    position: relative;
    padding: 0;

    .s-footer {
      width: 100%;
      left: 0;
      position: absolute;
      bottom: rem(24);
      z-index: 5;

      .card {
        margin-left: rem(15);
      }

      .container {
        position: relative;
        height: rem(30);
      }
    }

    .slide {
      position: relative;
      overflow: hidden;

      .slide-counter {
        position: absolute;
        z-index: 3;
        text-align: center;
        bottom: 20px;
      }

      .slide-pagination {
        position: absolute;
        z-index: 6;

        .swiper-button-next,
        .swiper-button-prev {
          color: $color10;
        }
      }

      .slider-actions {
        width: auto;
        right: 0;
        position: absolute;
        bottom: rem(0);
        background-color: $color20;
        z-index: 3;

        .list {
          padding: rem(45);
          padding-left: rem(80);

          .item {
            padding: rem(0 60);
            // border: 1px solid red;
            position: relative;
            display: inline-block;
            // margin-right: rem(50);

            &:last-child {
              &:before {
                display: none;
              }
            }

            &:before {
              content: '';
              position: absolute;
              width: rem(2);
              height: 80%;
              background-color: darken($color20, 20%);
              right: 0;
              top: 20%;
            }

            .link {
              display: block;
              color: $color10;
              font-size: rem(20);
              position: relative;

              &:before {
                transition: all ease .3s;
                content: '';
                left: 0;
                background: rgba($color10, .4);
                width: rem(3);
                height: rem(0);
                position: absolute;
                bottom: calc(100% + 15px);
              }

              &:hover {
                &:before {
                  height: rem(70);
                }
              }

              &.-active {
                font-weight: bold;

                &:before {
                  background: $color30;
                  height: rem(70);
                }
              }
            }
          }
        }
      }
    }

    @include media("<=desktop") {

      .s-footer {
        display: none;
      }

      .slide {
        background-color: transparent;

        .slide-pagination {
          left: 50%;
          transform: translateX(-50%);
          width: 90%;
        }
      }
    }
  }

  &.-home-about {
    height: 80vh;
    min-height: rem(700);
    @include pos-flex-left;

    .s-heading {
      .uptitle {
        margin-bottom: rem(20);
      }

      .title {
        margin-bottom: rem(35);
      }

      .button {
        margin-top: rem(50);
      }
    }

    @include media("<=desktop") {
      min-height: auto;
      height: auto;
    }
  }

  &.-video {
    padding: 0;
    position: relative;
  }

  &.-about {
    position: relative;
    min-height: rem(700);

    .s-heading {
      margin-bottom: rem(30);
    }

    .absolute-bg {
      position: absolute;
      right: 0;
      height: 100%;
      background-position: center right 0;
      top: 0;
    }

    @include media("<=tablet") {
      .absolute-bg {
        display: none;
      }
    }
  }

  &.-contact {
    background-color: $color20;

    .s-content {
      padding: rem(0 70);
    }

    .s-heading {
      padding: rem(0 80);

      a {
        color: $color10;
      }
    }

    .form {
      .form-action {
        .button {
          margin-top: 0;
          float: right;
        }
      }
    }

    @include media("<=desktop") {

      .s-content,
      .s-heading {
        padding: rem(0);
      }
    }
  }

  &.-news {
    background-color: $color14;
    padding-top: rem(120);

    .-negative-margin {
      margin-top: rem(-40);
    }

    .-more-news {
      margin-top: rem(60);
    }

    @include media("<=desktop") {
      padding: rem(50 0);

      .-negative-margin {
        margin-top: 0;
      }

      .-more-news {
        margin-top: rem(10);
      }
    }
  }

  &.-news-home {
    .s-heading {
      margin-bottom: rem(50);

      .button {
        float: right;
      }
    }
  }

  &.-project {
    padding-top: rem(0);

    .s-heading {
      height: rem(420);

    }

    .s-content {
      .details {
        padding: rem(100 0);
        background-color: $color30;
        color: $color10;
      }

      .gallery {
        margin-top: rem(30);

        .card.-project {
          transition: all ease .3s;

          &:hover {
            opacity: .6;

          }

          .c-caption {
            display: none;
          }
        }
      }
    }

    @include media("<=desktop") {
      .s-heading {
        height: rem(300);
      }

      .s-content {
        .details {
          padding: rem(40 0);
          background-color: $color30;
          color: $color10;
        }
      }
    }
  }

  &.-features {
    background-color: $color14;
    padding-bottom: 0;
    padding-top: rem(0);
    padding-bottom: rem(0);
    overflow: hidden;

    .slide {
      overflow: inherit;

      // padding-top: rem(140);
      // padding-bottom: rem(140);
      .swiper-pagination-fraction {
        color: $color20;
        font-size: rem(20);
        z-index: 3;
        position: relative;
        text-align: center;
        margin-top: rem(-7);

        .swiper-pagination-current {
          color: $color30;
        }
      }

      .slide-action {
        position: relative;
        top: rem(-90);

        .slide-pagination {
          position: relative;
          width: rem(120);
          float: right;
          margin-right: rem(-8);

          .swiper-button-prev,
          .swiper-button-next {
            width: auto !important;
          }

        }
      }

      @include media("<=desktop") {
        position: relative;

        .slide-action {
          margin: 0 auto;
          position: absolute;
          bottom: 30px;
          top: inherit;
          left: 50%;
          transform: translateX(-50%);
          z-index: 3;
          text-align: center;
          margin-left: rem(-5);
        }
      }
    }
  }

  &.-image-infos {
    padding-bottom: rem(0);

    @include media("<=desktop") {
      padding-bottom: rem(40);
    }
  }

  &.-explore {
    padding: rem(60 0);
    border-top: rem(1) solid $color14;
  }
}
