// Slide
.slide {
	overflow: hidden;
	
	.slide-pagination {
		.swiper-button-prev,
		.swiper-button-next {
			background: none !important;
			outline: none;
		}

		&.-v2 {
			padding: rem(0 65);
		    left: 0;
		    display: inline-block;
		    width: auto;
		    right: inherit;
		    min-width: 113px;
		    text-align: center;

		    .swiper-pagination-bullet {
		    	position: relative;
		    	margin: rem(0 15);
		    	width: rem(7);
		    	height: rem(7);

		    	&:before {
					content: '';
					transition: all ease .2s;
					width: rem(21);
					height: rem(21);
					border: rem(1) solid $color20;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%) scale(0);
					border-radius: rem(30);
					opacity: 0;
				}

		    	&.swiper-pagination-bullet-active {
					background-color: $color20;

					&:before {
						opacity: 1;
						transform: translate(-50%, -50%) scale(1);
					}

		    	}
		    }



		    .slide-counter {
		    	width: auto;
			    display: inline-block;
			    position: relative;
			    text-align: center;
		    }

			.swiper-button-prev {
				left: rem(20) !important;;
			}

			.swiper-button-next {
				right: rem(20) !important;
			}

		    .swiper-button-prev,
			.swiper-button-next { 
				position: absolute;
			    margin: 0;
			    font-size: rem(35);
			    top: 50%;
			    transform: translateY(-50%);
			    height: 36px;
			    color: $color30;
			    transition: all ease .4s;

			    &:hover {
			    	color: $color20;
			    }
			}
		}

		&.-type1 {
			width: rem(100);
			position: relative;
			height: rem(41);
			z-index: 1;
			margin-top: rem(15);

			.swiper-button-prev,
			.swiper-button-next {
				transition: all ease .3s;
				color: $color20;
				height: rem(40);
				width: rem(50);
				background-color: transparent !important;
				position: absolute;

				&:hover {
					color: $color30;
				}

				&:before {
					font-size: rem(23);
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}

			.swiper-button-prev {
				left: 0;
			    border-bottom-left-radius: 30px;
			    border-top-left-radius: 30px;
			}
			.swiper-button-next {
				right: 0;
				border-bottom-right-radius: 30px;
			    border-top-right-radius: 30px;
			}
		}

	}

	.slide-counter {
		&.-v1 {
			.swiper-pagination-bullet {
				background: $color16;
			}
		}
		.swiper-pagination-bullet {
		    width: rem(10);
		    height: rem(10);
		    display: inline-block;
		    border-radius: 100%;
		    background: $color10;
		    opacity: 0.4;
		    user-select: none;
		    outline: none;
		    margin-right: rem(6);
		}
		.swiper-pagination-bullet-active {
			opacity: 1;
		}
	}
	
}
