.toggle {
	user-select: none;
	outline: none;
	&.-header {
		border: none;
		background-color: transparent;
		width: rem(50);
		height: rem(40);
		position: relative;
		margin-top: rem(22);

		&:hover {
			.bar {
				background-color: $color10;
				&:before,
				&:after {
					background-color: $color10;
				}
			}
		}

		&.-open {

			.bar {
				background-color: transparent !important;

				&:before {
					left: 0;
					transform: rotate(45deg);
					background-color: $color10 !important;
				}

				&:after {
					top: rem(-10);
					transform: rotate(-45deg);
					background-color: $color10 !important;
				}
			}
		}


		.bar {
			position: relative;
			width: rem(30);
			height: rem(3);
			border: none;
			border-radius: rem(4);
			background-color: $color10;
			display: inline-block;
			transition: all ease .4s;

			&:before {
				content: '';
				position: absolute;
				top: rem(-10);
				left: rem(0);
				width: rem(30);
				height: rem(3);
				border: none;
				border-radius: rem(4);
				background-color: $color10;
				transition: all ease .4s;
			}

			&:after {
				content: '';
				position: absolute;
				top: rem(-20);
				left: rem(0);
				width: rem(30);
				height: rem(3);
				border: none;
				border-radius: rem(4);
				background-color: $color10;
				transition: all ease .4s;
			}
		}
	}
}
