/**
 * Colors
 */

// Theme colors
$color10:   #ffffff;
$color14: 	#F4F4F4;
$color15:   #dedede;
$color16: 	#9a968e; 
$color17: 	#343434;
$color19:   #000000;

$color20: 	#3b6658;
$color23: 	#5f7e70; 

$color30: 	#9f8f68;


// Status colors
$success:   #8bc34a;
$danger:    #f44336;
$warning:   #ffc107;
$info:      #03a9f4;

// Social colors
$facebook:  #39579b;
$twitter:   #588dc9;
$instagram: #8a3ab9;
$youtube:   #bb0000;
$google:    #dd4b39;
$linkedin:  #0079b8;
$whatsapp:  #4dc247;
