/**
 * Fonts
 */

$fontastic: 'fecimal';
$majesti: 'majesti';
$majesti-italic: 'majesti-italic';
$proxima: 'proxima';
$bebas: 'bebas';

// Fontastic
@include font-face(
  $fontastic,
  "../fonts/fontastic/fecimal",
  normal,
  normal,
  eot woff ttf svg
);

@include font-face(
  $bebas,
  "../fonts/bebas/BebasNeueBold",
  bold,
  normal,
  woff woff2
);

@include font-face(
  $proxima,
  "../fonts/proxima/ProximaNova-Regular",
  normal,
  normal,
  woff woff2
);

@include font-face(
  $proxima,
  "../fonts/proxima/ProximaNova-Semibold",
  600,
  normal,
  woff woff2
);

@include font-face(
  $proxima,
  "../fonts/proxima/ProximaNova-Bold",
  bold,
  normal,
  woff woff2
);

@include font-face(
  $proxima,
  "../fonts/proxima/ProximaNova-Extrabld",
  900,
  normal,
  woff woff2
);

@include font-face(
  $majesti,
  "../fonts/majesti/MajestiBanner-Medium",
  normal,
  normal,
  woff woff2
);

@include font-face(
  $majesti,
  "../fonts/majesti/MajestiBanner-Bold",
  bold,
  normal,
  woff woff2
);

@include font-face(
  $majesti-italic,
  "../fonts/majesti/MajestiBanner-BoldItalic",
  bold,
  normal,
  woff woff2
);

@include font-face(
  $majesti-italic,
  "../fonts/majesti/MajestiBanner-MediumItalic",
  normal,
  normal,
  woff woff2
);

