/**
 * Icons
 */

$icons: (
  twitter:     	'a',
  youtube:      'b',
  whatsapp:    	'c',
  linkedin:     'd',
  instagram:    'e',
  google:     	'f',
  facebook:     'g',
  share:      	'h',
  left:    		  'i',
  right:     	  'j',
  down:    		  'k',
  up:    		    'l',
  arrow-left:   'm',
  arrow-right:  'n',
  arrow-down:   'o',
  arrow-up:    	'p',
  plus:         'q',
  subtract:     'r',
  circle-down:  's',
  circle-left:  't',
  circle-right: 'u',
  circle-up:    'v',
  download:     'w'
);
