//position
@mixin pos-100-wh {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

@mixin pos-flex-right {
	display: flex;
    justify-content: right;
    align-items: center;
}

@mixin pos-flex-left {
	display: flex;
    justify-content: left;
    align-items: center;
}

@mixin pos-flex-center {
	display: flex;
    justify-content: center;
    align-items: center;
}

@mixin pos-abs-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}