@-ms-viewport   { width: device-width; }
@-o-viewport    { width: device-width; }
@viewport       { width: device-width; }

$font-size-base: 16px !default;

html {
  font-size: 16px !important;

  &.grayscale {
      filter: grayscale(100%);
  }
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}

a,
button,
input[type="button"] {
  outline: none !important;
  transition: all .4s ease !important;
  &:hover,
  &:visited,
  &:focus {
    text-decoration: none !important;
  }
}


a[href^=tel]
a[href^=email] {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

.sr-only {
  position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}