/**
 * Body
 */

 body {
 	font-weight: normal;

 	&.-open {
 		overflow: hidden;
 	}

 	&.grayscale {
	    filter: grayscale(100%);
	}

	&:not(.-home) {
		padding-top: rem(80);

		.header {
			.menu-principal {
				background-color: $color20 !important;
				padding-top: rem(0);
				position: fixed;
				top: 0;
			}
		}

		@include media("<=desktop") { 
			padding-top: rem(70);
			.header {
				height: auto;
				.menu-principal {
					background-color: transparent !important;
					position: relative !important
				}
			}
			
		}
	}
 }
